<div class="grid-content" (resize)="onResize" (scroll)="onScroll">
  <div class="list-wrap">
    <div class="list" #content>
      <card-item *ngFor="let item of cardItems"
           class="item item-trans"
           [item]="item">

        <!--<card-item [item]="item">-->
        <!--</card-item>-->
          <!--<span>{{item.title}} </span>-->
          <!--<br/>-->
          <!--<span>{{item.content}}</span>-->
          <!--<span>{{item.transform}}</span>-->
          <!--<img [src]="item.image">-->
      </card-item>
    </div>
  </div>
</div>
