<div #wrap class="card-wrap"
     style="visibility: hidden">

  <div class="card-img-wrap">
    <img [src]="item.product.image.url">
  </div>
  <div class="card-meta-wrap">

    <div class="card-meta">
      <span>{{item.product.id}}</span>
      <span>{{item.product.content}}</span>
      <span>{{item.product.transform}}</span>
    </div>

    <div class="credit-pin-wrap">
      <div class="credit-wrap">
        <img [src]="item.product.user.img">
        <div class="credit-user-info">
          <div>
            <span>{{item.product.user.userName}}</span>
          </div>
          <div>
            <span>{{item.product.user.userId}}</span>
          </div>
        </div>
      </div>

      <div class="pin-wrap">
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        <span>{{item.product.pinCount}}</span>
      </div>
    </div>
  </div>
</div>


